@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
	font-family: "Muli", sans-serif;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	padding: 50px;
	margin: 50px;
}

span {
	color: #dc143c;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: black;
}

/* Sidebar CSS */
.txt {
	font-weight: bold;
}

#pgside {
	width: 210px;
	flex-shrink: 0;
	transition: width 0.2s;
	background: #283039;
}

/* (B2) USER OR BRANDING */
#pgside #pguser {
	display: flex;
	/* align-items: center; */
	padding: 5px;
}

#pgside #pguser img {
	width: 242px;
	height: 70px;
	margin-right: 15px;
	/* margin-right: 5px; */
	/* border-radius: 50%; */
}

/* (B3) SIDEBAR ITEMS */
#pgside,
#pgside a {
	color: #fff;
}

#pgside a {
	display: block;
	padding: 20px;
	width: 100%;
	text-decoration: none;
	cursor: pointer;
}

#pgside a.current {
	background: #7c1919;
}

#pgside a:hover {
	background: #9b2323;
}

/* (B4) SIDEBAR ICONS & TEXT */
#pgside i.ico,
#pgside i.txt {
	font-style: normal;
}

#pgside i.ico {
	font-size: 1.1em;
	margin-right: 10px;
}

/* (C) MAIN CONTENTS */
#pgmain {
	flex-grow: 1;
	margin: 0px 25px 25px;
	padding: 10px;
	/* background: #f2f2f2; */
}


/* Button Styles */
.button {
	background-color: #ffffff;
	/* Green */
	border: solid #dc143c;
	padding: 10px;
	width: 140px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	cursor: pointer;
	border-radius: 10px;
	margin-right: 10px;
}

.btn {
	background-color: white;
	border: solid red;
	width: 100px;
}

.btn:hover {
	background-color:red;
	color: whitesmoke;
	font-weight: bold;
	border: none;
}

.buttonEdit {
	background-color: white;
	border: solid rgb(255, 179, 0);
	width: 100px;
}


.buttonEdit:hover {
	background-color: rgb(255, 179, 0);
	color: whitesmoke;
	font-weight: bold;
	border: none;
}


/* Table CSS */
.styled-table {
	border-collapse: collapse;
	font-size: 0.9em;
	font-family: sans-serif;
	width: 100%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
	background-color: #dc143c;
	color: #ffffff;
	text-align: left;
	font-weight: bold;
}

.styled-table th,
.styled-table td {
	padding: 12px 15px;
}

.styled-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
	border-bottom: 2px solid #dc143c;
}

.styled-table tbody tr.active-row {
	font-weight: bold;
	color: #dc143c;
}