<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Cinemania</display-name>

	<!--User Servlet & Servlet Mapping -->
	<servlet>
		<servlet-name>AddUserServlet</servlet-name>
		<servlet-class>com.oop.servlet.AddUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateUserServlet</servlet-name>
		<servlet-class>com.oop.servlet.UpdateUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteUserServlet</servlet-name>
		<servlet-class>com.oop.servlet.DeleteUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetUserServlet</servlet-name>
		<servlet-class>com.oop.servlet.GetUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListUserServlet</servlet-name>
		<servlet-class>com.oop.servlet.ListUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.oop.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddUserServlet</servlet-name>
		<url-pattern>/AddUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUserServlet</servlet-name>
		<url-pattern>/UpdateUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUserServlet</servlet-name>
		<url-pattern>/DeleteUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUserServlet</servlet-name>
		<url-pattern>/GetUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListUserServlet</servlet-name>
		<url-pattern>/ListUserServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>


	<!-- Review Servlet & Servlet Mapping -->
	<servlet>
		<servlet-name>AddReviewServlet</servlet-name>
		<servlet-class>com.oop.servlet.AddReviewServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateReviewServlet</servlet-name>
		<servlet-class>com.oop.servlet.UpdateReviewServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteReviewServlet</servlet-name>
		<servlet-class>com.oop.servlet.DeleteReviewServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetReviewServlet</servlet-name>
		<servlet-class>com.oop.servlet.GetReviewServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListReviewServlet</servlet-name>
		<servlet-class>com.oop.servlet.ListReviewServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddReviewServlet</servlet-name>
		<url-pattern>/AddReviewServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateReviewServlet</servlet-name>
		<url-pattern>/UpdateReviewServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteReviewServlet</servlet-name>
		<url-pattern>/DeleteReviewServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetReviewServlet</servlet-name>
		<url-pattern>/GetReviewServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListReviewServlet</servlet-name>
		<url-pattern>/ListReviewServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <servlet-name>AddMovieServlet</servlet-name>
    <servlet-class>com.oop.servlet.AddMovieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateMovieServlet</servlet-name>
    <servlet-class>com.oop.servlet.UpdateMovieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMovieServlet</servlet-name>
    <servlet-class>com.oop.servlet.DeleteMovieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMovieServlet</servlet-name>
    <servlet-class>com.oop.servlet.GetMovieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListMovieServlet</servlet-name>
    <servlet-class>com.oop.servlet.ListMovieServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMovieDetailsServlet</servlet-name>
    <servlet-class>com.oop.servlet.GetMovieDetailsServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>AddMovieServlet</servlet-name>
    <url-pattern>/AddMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMovieServlet</servlet-name>
    <url-pattern>/UpdateMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMovieServlet</servlet-name>
    <url-pattern>/DeleteMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMovieServlet</servlet-name>
    <url-pattern>/GetMovieServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>ListMovieServlet</servlet-name>
    <url-pattern>/ListMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMovieDetailsServlet</servlet-name>
    <url-pattern>/GetMovieDetailsServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddSeriesServlet</servlet-name>
    <servlet-class>com.oop.servlet.AddSeriesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateSeriesServlet</servlet-name>
    <servlet-class>com.oop.servlet.UpdateSeriesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSeriesServlet</servlet-name>
    <servlet-class>com.oop.servlet.DeleteSeriesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetSeriesServlet</servlet-name>
    <servlet-class>com.oop.servlet.GetSeriesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListSeriesServlet</servlet-name>
    <servlet-class>com.oop.servlet.ListSeriesServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>GetSeriesDetailsServlet</servlet-name>
    <servlet-class>com.oop.servlet.GetSeriesDetailsServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>AddSeriesServlet</servlet-name>
    <url-pattern>/AddSeriesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSeriesServlet</servlet-name>
    <url-pattern>/UpdateSeriesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSeriesServlet</servlet-name>
    <url-pattern>/DeleteSeriesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSeriesServlet</servlet-name>
    <url-pattern>/GetSeriesServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>ListSeriesServlet</servlet-name>
    <url-pattern>/ListSeriesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSeriesDetailsServlet</servlet-name>
    <url-pattern>/GetSeriesDetailsServlet</url-pattern>
  </servlet-mapping>
 


	<welcome-file-list>
		<welcome-file>homeView.html</welcome-file>
		<welcome-file>homeView.htm</welcome-file>
		<welcome-file>homeView.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>